%html
%head
  %title= ENV['PROJECT_TITLE']

  %link{rel: "stylesheet", type: 'text/css', href: url("stylesheets/bootstrap.min.css")}
  %link{rel: "stylesheet", type: 'text/css', href: url("stylesheets/darkly-bootstrap.min.css")}
  %link{rel: 'stylesheet', type: 'text/css', href: url('stylesheets/custom.css')}
  %link{rel: 'stylesheet', type: 'text/css', href: url('stylesheets/proposals.css')}


%body
  - if @show_header
    #header
      = display_partial "layouts/header"
  #content
    .container
      = display_partial 'layouts/alert' if messages.any?
      = yield

%script{src: url('javascripts/jquery-3.4.1.min.js')}
%script{src: url('javascripts/darkly-bootstrap.min.js')}
%script{src: url('javascripts/main.js')}

// conditional loading
- if self.request.path.include?('proposal')
  - logger.info 'Loading auxiliary javascripts: proposals'
  %script{src: url('javascripts/proposals.js')}
  - logger.info 'Loading auxiliary javascripts: jquery-validations'
  %script{src: url('javascripts/jquery-validations-1.19.1.min.js')}
