%html
%head
  %title= ENV['PROJECT_TITLE']

  %link{rel: "stylesheet", type: 'text/css', href: "./stylesheets/bootstrap.min.css"}
  %link{rel: "stylesheet", type: 'text/css', href: "./stylesheets/darkly-bootstrap.min.css"}
  %link{rel: 'stylesheet', type: 'text/css', href: './stylesheets/custom.css'}
  %link{rel: 'stylesheet', type: 'text/css', href: './stylesheets/proposals.css'}


%body
  - if @show_header
    #header
      = display_partial "layouts/header"
  #content
    .container
      = display_partial 'layouts/alert' if messages.any?
      = yield

%script{src: './javascripts/jquery-3.4.1.min.js'}
%script{src: './javascripts/darkly-bootstrap.min.js'}
%script{src: './javascripts/main.js'}

// conditional loading
- if self.request.path == '/proposal'
  %script{src: './javascripts/proposals.js'}
  %script{src: './javascripts/jquery-validations-1.19.1.min.js'}
