#proposal-submitted
  .container.fixed-vertical-center.text-center
    %img{ src: 'https://media3.giphy.com/media/fdXRaJH7lm5XQXtXl7/giphy.gif?cid=790b76117629b8fca2eeddf326e425c2ff1547ccb398ec19&rid=giphy.gif'}
    %h3 Your proposal has been received!

    %p You should hear from us by ~1 May.
    %p If you have any questions, please don't hesitate to contact us at info@occultureberlin.org
