#proposal-submitted
  .container.fixed-vertical-center
    %h1{ style: 'font-size: 50vw;' } 🎉
    %h3.text-center Your proposal has been received!

    %p.text-center You should hear from us by ~1 May. If you have any questions, please don't hesitate to contact us at info@occultureberlin.org
