#proposal-submitted
  .container.fixed-vertical-center.text-center
    %img{ src: 'https://media.giphy.com/media/1iu8uG2cjYFZS6wTxv/giphy-downsized-large.gif'}
    %h3 We've received your proposal!

    %p You should hear from us by ~1 May.
    %p If you have any questions, please don't hesitate to contact us at info@occultureberlin.org
