#proposal img.logo {
  width: 50%;
  margin: auto 10%;
}

#proposal #proposal-form-content .intro-text {
  font-size: 1.2em;
  text-align: justify;
  text-align-last: center;
}

#proposal #proposal-form-content .intro-text p {
  margin: 1em auto;
}

#proposal #proposal-form-content form {
  width: 60%;
}

#proposal #proposal-form-content .form-control {
  margin: 0.5em auto;
}

#proposal #proposal-form-content textarea.form-control {
  height: 12vh;
}

#proposal #proposal-form-content label.error {
  padding-bottom: 1em;
}

#proposal #proposal-form-content .form-text {
  margin: 1vh auto;
}

#proposal #proposal-form-content #experience-output {
  padding: 0;
  margin: 1em auto;
}

#proposal #proposal-form-content #other-interests {
  text-align: left;
  margin-left: 3vw;
}

#proposal #proposal-form-content input[type="checkbox"] {
  width: 3vw;
  margin-right: 0.25vw;
  display: inline-block;
  vertical-align: middle;
}

#proposal-submitted img {
  width: 60%;
  filter: saturate(0.5);
}

@media all and (min-width: 600px) {
  #proposal-submitted img {
    width: 40%;
  }
}
