#proposal
  .container.fixed-vertical-center
    - if ENV.key?('LOGO_IMAGE_PATH')
      .mx-auto.text-center
        %img.logo{src: ENV['LOGO_IMAGE_PATH']}

    #proposal-form-content.mt-5.text-center
      .intro-text.form-stage{data: { position: 1 } }
        %p Thanks so much for your interest in applying to participate at OCCULTURE 2022.

        %p We invite practitioners, researchers, artists and all other interested parties from around the world to submit proposals for presentation at our 2022 edition in Berlin, Germany. Our program includes theoretical, practical and artistic components and we therefore encourage anyone interested to apply, regardless of your modality.

        %p This is an opportunity to share research and build a network with an international group of magicians during one of the most interesting and unique occult gatherings in Europe - or anywhere else.

        %p Proposals will be peer reviewed and acceptance will be based on content, available space, and overall program balance.

        %p Please don't use your back button or the form will be reset!

        %button.btn.btn-block.btn-primary.btn-next{type: 'button'} Begin application process

      %form.form-horizontal.mx-auto{action: 'proposal', method: 'post', role: 'form'}
        .form-group.form-stage.hidden{data: { position: 2 } }
          %h2.mx-auto Personal information

          %input.form-control{type: 'text', required: true, name: 'name', placeholder: 'Name'}
          %input.form-control{type: 'text', required: true, name: 'birthday', placeholder: 'Date of Birth'}
          %input.form-control{type: 'email', required: true, name: 'email', placeholder: 'Email address'}
          %input.form-control{type: 'text', required: true, name: 'traveling_from', placeholder: 'Where would you be travelling from?'}
          %textarea.form-control{name: 'bio', required: true, maxlength: 300, placeholder: 'Short bio (max 300 characters)'}
          %input.form-control{type: 'url', required: true, name: 'avatar_url', placeholder: 'Avatar URL (format: http://www.example.com/xyz.jpg)'}
            .form-text.hidden
              %a.btn.btn-block.btn-info{href: 'https://help.imgur.com/hc/en-us/articles/210076663-Uploading-Content', target: 'blank'}
                Need help uploading an image?

          %button.btn.btn-block.btn-primary.btn-prev{type: 'button'} Previous section
          %button.btn.btn-block.btn-primary.btn-next{type: 'button'} Next section

        .form-group.form-stage.hidden{data: { position: 3 } }
          %h2.mx-auto Proposal type

          %select.form-control{required: true, name: 'type', onchange: 'updateProposalType(this.value)'}
            %option{value: '', disabled: true, selected: true} Select an option
            %option{value: 'lecture'} Lecture
            %option{value: 'workshop'} Workshop
            %option{value: 'ritual'} Ritual
            %option{value: 'performance'} Performance
            %option{value: 'film_screening'} Film Screening
            %option{value: 'art'} Art
            %option{value: 'vendor'} Vendor
            %option{value: 'other'} Other

          %button.btn.btn-block.btn-primary.btn-prev{type: 'button'} Previous section
          %button.btn.btn-block.btn-primary.btn-next{type: 'button'} Next section

        .form-group.form-stage.hidden{data: { position: 4 } }
          %h2.mx-auto Proposal details

          %input.form-control{type: 'text', required: true, maxlength: 80, name: 'title', placeholder: 'Title'}
          %textarea.form-control{name: 'abstract', required: true, minlength: 200, maxlength: 600, placeholder: 'Abstract (max 600 characters)'}
          %input.form-control{type: 'text', name: 'tradition', placeholder: 'What tradition does your proposal come from?'}
          %textarea.form-control{type: 'text', name: 'special_requirements', placeholder: 'Any special requirements?'}

          %button.btn.btn-block.btn-primary.btn-prev{type: 'button'} Previous section
          %button.btn.btn-block.btn-primary.btn-next{type: 'button'} Next section

        .form-group.form-stage.hidden{data: { position: 5 } }
          %h2#conditional-information.mx-auto

          #previous-experience-wrapper.experience-variant
            %label#previous-experience
            %input#experience-input.form-control{type: 'range', required: true, value: 0, name: 'previous_experience', min: 1, max: 5, oninput: 'characterizeExperience(this.value)'}
            %h4#experience-output

          #portfolio-description.experience-variant
            %label Please describe your work
            %textarea.form-control{name: 'portfolio_description', required: true}

          %label#portfolio
          %textarea.form-control{type: 'text', name: 'portfolio'}

          %button.btn.btn-block.btn-primary.btn-prev{type: 'button'} Previous section
          %button.btn.btn-block.btn-primary.btn-next{type: 'button'} Next section

        .form-group.form-stage.hidden{data: { position: 6 } }
          %h2.mx-auto Et cetera

          #other-interests
            .opt-in-panels
              %input.form-control{type: 'checkbox', name: 'participate_in_panels'}
                I am willing to participate in panel discussions
              %br
            .opt-in-divination
              %input.form-control{type: 'checkbox', name: 'participate_in_divination'}
                I would like to give divination readings
              %br
            .opt-in-merch
              %input.form-control{type: 'checkbox', name: 'sell_merch'}
                I would like to sell merchandise
              %br
            .opt-in-electricity.hidden
              %input.form-control{type: 'checkbox', name: 'vendor_electric'}
                I need electricity

          %button.btn.btn-block.btn-primary.btn-prev{type: 'button'} Previous section
          %button.btn.btn-block.btn-success{type: 'button', onclick: 'submitProposal()'}
            Submit Proposal
